.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.index__logo {
  padding: 20px;
}

.index__post {
  border: 4px solid lightblue;
  border-radius: 10px;
  margin-top: 50px;
  align-items: center;
  background-color: rgb(250, 179, 25);
}

.index__input {
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 50px;
  margin-bottom: 25px;
  padding: 19px;
}

.index__button {
  padding: 16px !important;
  margin-right: 40px !important;
  background-color: rgb(194, 139, 238) !important;
}

.index__list {
  font-weight: 1000;
  font-size: 25px;
  display: flex;
  padding: 0px;
}

.index__item {
  display: flex;
  border: 3px solid white;
  color: black;
  padding: 20px;
}

.index__postlist {
  display: flex;
}

.index__done:hover {
  color: rgb(30, 253, 30);
}

.index__delete:hover {
  color: red;
}
